---
import Layout from '../../layouts/MainLayout.astro';
import Header from '../../components/Header.astro';
import FeatureCard from '../../components/FeatureCard.astro';
import MissionVisionCard from '../../components/MissionVisionCard.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { languages } from '../../i18n/ui';
import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const wwaEntries = await getCollection('wwa');
  return Object.keys(languages).map((lang) => {
    const entry = wwaEntries.find((entry: CollectionEntry<'wwa'>) => entry.slug === lang);
    return {
      params: { locale: lang },
      props: { entry }
    };
  });
}

interface Props {
  entry: CollectionEntry<'wwa'>;
}

const { entry } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { Content } = await entry.render();

const missionVision = [
  {
    icon: "fas fa-bullseye",
    title: "Nuestra Misión",
    description: "Somos una red de profesionales experimentados que impulsa ideas transformadoras para un cambio sostenible, conectando personas, sectores y conocimientos."
  },
  {
    icon: "fas fa-eye",
    title: "Nuestra Visión",
    description: "Construir un futuro sostenible a través de la innovación, la colaboración y el intercambio de conocimientos entre diversos sectores."
  }
];

const workAreas = [
  {
    icon: "fas fa-landmark",
    title: "Gobernanza",
    description: "Fortalecimiento de la gobernanza y la resiliencia institucional."
  },
  {
    icon: "fas fa-chart-line",
    title: "Desarrollo Económico",
    description: "Desarrollo económico y tecnológico sostenible."
  },
  {
    icon: "fas fa-users",
    title: "Migración",
    description: "Abordaje de los desafíos migratorios."
  },
  {
    icon: "fas fa-heart",
    title: "Salud",
    description: "Políticas de salud y protección social."
  },
  {
    icon: "fas fa-leaf",
    title: "Agricultura",
    description: "Agricultura inteligente y gestión del agua."
  },
  {
    icon: "fas fa-laptop-code",
    title: "Tecnología",
    description: "Promoción de la innovación tecnológica y la transformación digital."
  }
];
---

<Layout 
  title={t('nav.wwa')}
  description={t('wwa.description')}
>
  <Header class="mx-auto w-full z-50" textColorNav="primary" />

  <main class="pt-10">
    <section class="mt-20 mb-12 bg-primary/10 max-w-6xl mx-auto">
      <div class="container md:py-8 mx-auto sm:px-4">
        <div class="flex flex-wrap">              
          <div class="md:w-3/4 p-6">
            <h1 class="text-primary uppercase border-l-4 border-secondary tracking-wider py-6 p-10">
              {t('nav.wwa')}
            </h1>
          </div>
        </div>
      </div>
    </section>

    <div class="container mx-auto px-4 max-w-6xl">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12">
        {missionVision.map(item => (
          <MissionVisionCard
            icon={item.icon}
            title={item.title}
            description={item.description}
          />
        ))}
      </div>

      <!-- Áreas de Trabajo -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12">
        {workAreas.map(area => (
          <FeatureCard
            icon={area.icon}
            title={area.title}
            description={area.description}
          />
        ))}
      </div>


    </div>

    <article class="container px-2 lg:px-10 prose lg:prose-xl mx-auto max-w-5xl prose-headings:text-primary prose-headings:font-normal prose-headings:text-3xl">
      <Content />
    </article>
  </main>
</Layout>

<style>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
</style>

