---
interface Props {
  title: string;
  imageUrl: string;
  imageAlt: string;
  description: string;
  reverseLayout?: boolean;
}

const { title, imageUrl, imageAlt, description, reverseLayout = false } = Astro.props;
const modalId = `modal_${title.toLowerCase().replace(/\s+/g, '_')}`;
---

<div class="flex flex-wrap md:mb-0 mb-10 card-objetivo group">
  <div class="md:w-1/2 p-8">
    <div class="flex flex-col justify-center h-full w-3/4 lg:w-1/2 mx-auto transform transition-transform duration-500 group-hover:translate-x-4">
      <h2 
        class="uppercase cursor-pointer text-primary text-3xl lg:text-4xl font-light tracking-wider hover:text-secondary transition-colors duration-300"
        onclick={`${modalId}.showModal()`}
      >
        {title}
      </h2>
      <div class="border-t-4 border-secondary w-24 my-3 transition-all duration-500 group-hover:w-32"></div>
    </div>
  </div>
  
  <div class={`relative w-full md:w-1/2 ${reverseLayout ? 'md:-order-1' : ''} overflow-hidden`}>
    <div 
      class="w-full h-120 cursor-pointer transform transition-transform duration-700 group-hover:scale-105"
      onclick={`${modalId}.showModal()`}
    >
      <div class={`absolute top-0 left-0 w-full h-full object-cover bg-gradient-to-${reverseLayout ? 'l' : 'r'} from-primary/30 to-transparent z-10`}></div>
      <img 
        alt={imageAlt}
        src={imageUrl}
        width="600" 
        height="480"
        class="top-0 left-0 h-full w-full object-cover"
      />
    </div>
  </div>

  <!-- Modal -->
  <dialog id={modalId} class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-white">
      <h3 class="text-2xl text-primary mb-4">{title}</h3>
      <p class="py-4">{description}</p>
      <div class="modal-action">
        <form method="dialog">
          <button class="btn btn-primary">Cerrar</button>
        </form>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>cerrar</button>
    </form>
  </dialog>
</div> 